{% extends 'base.html' %}
{% block content %}
    <form class="layui-form" action="">
        <div class="layui-collapse" lay-filter="test">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">展开搜索</h2>
                <div class="layui-colla-content">
                    <div class="demoTable">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">业务IP：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="search_ip" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">机器SN：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="search_sn" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">带外IP:</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="search_oobip" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">主机类型</label>
                                <div class="layui-input-inline">
                                    <select id="search_type" lay-search="">
                                        <option value="">搜索选择</option>
                                        {% for type in hosttype %}
                                            <option value="{{ type.id }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">应用</label>
                                <div class="layui-input-inline">
                                    <select id="search_app" lay-search="">
                                        <option value="">搜索选择</option>
                                        {% for name in app %}
                                            <option value="{{ name }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">模糊查询</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" id="is_like" checked="" title="模糊查询" value="is_like">
                                </div>
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">机房</label>
                                <div class="layui-input-inline">
                                    <select id="search_idc" lay-search="">
                                        <option value="">搜索选择</option>
                                        {% for name in idc %}
                                            <option value="{{ name }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">环境</label>
                                <div class="layui-input-inline">
                                    <select id="search_vlan" lay-search="">
                                        <option value="">搜索选择</option>
                                        {% for name in vlan %}
                                            <option value="{{ name.vlan_area }}">{{ name.vlan_area }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">点击搜索👉🏻</label>
                                <div class="layui-input-inline">
                                    <a class="layui-btn layui-btn-primary layui-btn-big" data-type="reload">搜索</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="assets" lay-filter="assets"></table>
{% endblock content %}

{% block js-content %}
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">

            <button class="layui-btn layui-btn-sm" lay-event="update">更新主机信息</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
            <button class="layui-btn layui-btn-sm" lay-event="shell">执行命令</button>
            <button class="layui-btn layui-btn-sm" lay-event="script">执行脚本</button>
            <button class="layui-btn layui-btn-sm" lay-event="playbook">playbook</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">批量删除</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="update">更新</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" data-method="delete" lay-event="del">删除</a>
    </script>
    <script>

        layui.use('table', function () {
            HOSTTYPE_CHOICES = {
                1: '<em style="color:orange">' + '物理机' + '<em>',
                2: '<em style="color:darkorange">' + '宿主机' + '<em>',
                3: '<em style="color:forestgreen">' + '虚拟机' + '<em>',
            }
            table.render({
                elem: '#assets'
                , url: '{% url "ops:api-hosts" %}'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板

                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'
                }]
                , cols: [[
                    {type: 'checkbox', fixed: 'left', id: 'goodsLimitSeqNo'}
                    , {field: 'id', title: 'ID', fixed: 'left', unresize: true, sort: true, width: 70, event}
                    , {field: 'ip', title: 'IP', width: 140, sort: true}
                    , {field: 'hostname', title: '主机名', width: 140, sort: true}
                    , {field: 'sn', title: 'SN', sort: true, width: 100,}
                    , {field: 'oobip', title: '带外IP', sort: true, width: 140,}
                    , {
                        field: 'type', title: '主机类型', sort: true, width: 140, templet: function (res) {
                            var hosttype = HOSTTYPE_CHOICES[res.type]
                            if(typeof (hosttype) != 'undefined'){
                                return hosttype
                            }
                            return ''
                        }
                    }
                    , {
                        field: 'app', title: '应用', width: 100, sort: true, templet: function (res) {
                            if( res.app != null){
                                return '<em>' + res.app.name + '</em>'
                            }
                            return ''

                        }
                    }
                    , {
                        field: 'vlan', title: '环境', width: 100, sort: true, templet: function (res) {
                            if( res.vlan != null){
                                return '<em>' + res.vlan.vlan_area + '</em>'
                            }
                            return ''

                        }
                    }
                    , {
                        field: 'idc', title: '机房', width: 100, sort: true, hide: true, templet: function (res) {
                            if( res.idc != null){
                                return '<em>' + res.idc.name + '</em>'
                            }
                            return ''
                        }
                    }
                    , {
                        field: 'cabinet', title: '机柜', width: 100, sort: true, hide: true, templet: function (res) {
                            if( res.cabinet != null){
                                return '<em>' + res.cabinet.id.name + '</em>'
                            }
                            return ''

                        }
                    }
                    , {field: 'u', title: 'U位', sort: true, width: 70,}
                    , {field: 'cpu', title: 'cpu型号', sort: true, hide: true}
                    , {field: 'vcpu', title: 'cpu', sort: true, width: 70,}
                    , {field: 'mem', title: '内存M', sort: true, width: 100,}
                    , {field: 'disk', title: '硬盘G', sort: true, width: 100,}
                    , {field: 'notes', title: '备注信息', sort: true, hide: true}
                    , {field: 'kernel', title: '内核版本', sort: true, hide: true}
                    , {field: 'system', title: '系统版本', sort: true, width: 120}
                    , {field: 'exceedtime', title: '到期时间', sort: true, width: 200,}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150,}
                ]]
                , page: true
                , limits:[20,40,60,80,100,200,1000]
                , id: 'tabReload'
            });
            //头工具栏事件
            table.on('toolbar(assets)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var iplist = ''
                var idlist = ''
                var data = checkStatus.data;
                for (var item in data) {
                    iplist += data[item].ip + ",";
                    idlist += data[item].id + ",";
                }
                if (data.length != 0) {
                    switch (obj.event) {
                        case 'shell' :
                        case 'script' :
                        case 'playbook':
                            var url = '/shell?ip=' + iplist + "&type=" + obj.event
                            layer.open({
                                type: 2,
                                title: "执行" + obj.event,
                                shadeClose: true,
                                maxmin: true,
                                area: ['50%', '50%'],
                                content: [url, 'on'],
                                btn: ['关闭'],
                            })
                            break;
                        case 'delete' :
                            var url = "{% url "ops:api-hosts" %}?id=" + idlist
                            layer.confirm('确认删除', {
                                btn: ['确认', '取消']
                            }, function () {
                                // 按钮1的事件
                                ajax_del(url)
                                window.location.reload();
                                return false; // 这段很关键

                            }, function (index) {
                                // 按钮2的事件
                                layer.close(index);
                            });
                            break;
                        case 'update':
                            //layer.alert(JSON.stringify(iplist));
                            layer.confirm('更新操作', {
                                btn: ['确认', '取消']
                            }, function () {
                                ajax_put("{% url "ops:api-hosts"%}?ip=" + iplist)
                                return false; // 这段很关键
                            }, function (index) {
                                // 按钮2的事件
                                layer.close(index);
                            });
                            break;
                        case
                        'getCheckLength'
                        :
                            var data = checkStatus.data;
                            layer.msg('选中了：' + data.length + ' 个');
                            break;
                        case 'isAll':
                            layer.msg(checkStatus.isAll ? '全选' : '未全选');
                            break;
                    }
                } else if (obj.event.indexOf("LAYTABLE") >= 0) {
                    //自定义头工具栏右侧图标 - 提示
                    if (obj.event == 'LAYTABLE_TIPS') {
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    }
                } else {
                    layer.msg('未选中任何主机');
                }
            })
            ;
            //监听行单击事件（双击事件为：rowDouble）
            table.on('row(assets)', function (obj) {
                var data = obj.data;
                //console.log(obj.data)

            });

            //监听行工具事件
            table.on('tool(assets)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'del' :
                        var url = "{% url "ops:api-hosts" %}?id=" + data.id
                        layer.confirm('确认删除', {
                            btn: ['确认', '取消']
                        }, function () {
                            // 按钮1的事件
                            ajax_del(url)
                            obj.del()
                            return false; // 这段很关键

                        }, function (index) {
                            // 按钮2的事件
                            layer.close(index);
                        });
                        break;
                    case 'update':
                        layer.confirm('确认更新', {
                            btn: ['确认', '取消']
                        }, function () {
                            // 按钮1的事件
                            ajax_put("{% url "ops:api-hosts" %}?ip=" + data.ip)
                            return false; // 这段很关键
                        }, function (index) {
                            // 按钮2的事件
                            layer.close(index);
                        });
                        break
                }
            })
            var active = {
                reload: function () {
                    var search_ip = $('#search_ip');
                    var search_sn = $('#search_sn');
                    var search_oobip = $('#search_oobip');
                    var search_type = $('#search_type');
                    var search_app = $('#search_app');
                    var search_idc = $('#search_idc');
                    var search_vlan = $('#search_vlan');
                    var is_like = $('#is_like');
                    table.reload('tabReload', {
                        page: {
                            curr: 1
                        }
                        , where: {
                            ip: search_ip.val(),
                            sn: search_sn.val(),
                            oobip: search_oobip.val(),
                            hosttype: search_type.val(),
                            app: search_app.val(),
                            idc: search_idc.val(),
                            vlan: search_vlan.val(),
                            is_like: is_like.is(":checked"),

                        }
                    });
                    return false;
                }
            };
            $('.demoTable .layui-btn'
            ).on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        })

    </script>
{% endblock js-content %}

