{% extends 'base.html' %}
{% block content %}
    <form class="layui-form" action="">
        <div class="layui-collapse" lay-filter="test">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">展开搜索</h2>
                <div class="layui-colla-content">
                    <div class="demoTable">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">业务IP：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="search_ip" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">机器SN：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="search_sn" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">带外IP:</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="search_oobip" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">主机类型</label>
                                <div class="layui-input-inline">
                                    <select id="search_type" lay-search="">
                                        <option value="">搜索选择</option>
                                        {% for h in htype %}
                                            <option value="{{ h.id }}">{{ h.hname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">应用</label>
                                <div class="layui-input-inline">
                                    <select id="search_app" lay-search="">
                                        <option value="">搜索选择</option>
                                        {% for a in app %}
                                            <option value="{{ a.id }}">{{ a.aname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">模糊查询</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" id="is_like" checked="" title="模糊查询" value="is_like">
                                </div>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">机房</label>
                                <div class="layui-input-inline">
                                    <select id="search_idc" lay-search="">
                                        <option value="">搜索选择</option>
                                        {% for i in idc %}
                                            <option value="{{ i.id }}">{{ i.iname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">环境</label>
                                <div class="layui-input-inline">
                                    <select id="search_vlan" lay-search="">
                                        <option value="">搜索选择</option>
                                        {% for v in vlan %}
                                            <option value="{{ v.id }}">{{ v.varea }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">点击搜索👉🏻</label>
                                <div class="layui-input-inline">
                                    <a class="layui-btn layui-btn-primary layui-btn-big" data-type="reload">搜索</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="assets" lay-filter="assets"></table>
{% endblock content %}

{% block js-content %}
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">

            <button class="layui-btn layui-btn-sm" lay-event="update">更新主机信息</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
            <button class="layui-btn layui-btn-sm" lay-event="shell">执行命令</button>
            <button class="layui-btn layui-btn-sm" lay-event="script">执行脚本</button>
            <button class="layui-btn layui-btn-sm" lay-event="playbook">playbook</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">批量删除</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="update">更新</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" data-method="delete" lay-event="del">删除</a>
    </script>
    <script>

        layui.use('table', function () {
            HOSTTYPE_CHOICES = {
                1: '<em style="color:orangered">' + '物理机' + '<em>',
                2: '<em style="color:darkorange">' + '宿主机' + '<em>',
                3: '<em style="color:forestgreen">' + '虚拟机' + '<em>',
            }
            table.render({
                elem: '#assets'
                , url: '{% url "ops:api-hosts" %}'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , limit: 20
                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'
                }]
                , cols: [[
                    {type: 'checkbox', fixed: 'left', id: 'goodsLimitSeqNo'}
                    , {field: 'id', title: 'ID', fixed: 'left', unresize: true, sort: true, width: 70}

                    , {field: 'hip', title: 'IP', width: 140,}
                    , {field: 'hhostname', title: '主机名', width: 140, sort: true}
                    , {field: 'hsn', title: 'SN', width: 100,}
                    , {field: 'hoobip', title: '带外IP', width: 140, edit: 'text'}
                    , {
                        field: 'htype', title: '主机类型', sort: true, width: 140, templet: function (res) {
                            var hosttype = HOSTTYPE_CHOICES[res.htype]
                            if (typeof (hosttype) != 'undefined') {
                                return hosttype
                            }
                            return ''
                        }
                    }
                    , {
                        field: 'happ', title: '应用', width: 100, sort: true, templet: function (res) {
                            if (res.happ != null) {
                                return '<em>' + res.happ.aname + '</em>'
                            }
                            return ''

                        }
                    }
                    , {
                        field: 'hvlan', title: '环境', width: 100, sort: true, templet: function (res) {
                            if (res.hvlan != null) {
                                return '<em>' + res.hvlan.varea + '</em>'
                            }
                            return ''

                        }
                    }
                    , {
                        field: 'hidc', title: '机房', width: 100, sort: true, hide: true, templet: function (res) {
                            if (res.hidc != null) {
                                return '<em>' + res.hidc.iname + '</em>'
                            }
                            return ''
                        }
                    }
                    , {
                        field: 'hcabinet', title: '机柜', width: 100, sort: true, hide: true, templet: function (res) {
                            if (res.hcabinet != null) {
                                return '<em>' + res.hcabinet.cname + '</em>'
                            }
                            return ''

                        }
                    }
                    , {field: 'hu', title: 'U位', width: 70, edit: 'text'}

                    , {field: 'hvcpu', title: 'cpu', width: 70,}
                    , {field: 'hmem', title: '内存M', width: 100,}
                    , {field: 'hdisk', title: '硬盘G', width: 100,}

                    , {field: 'hsystem', title: '系统版本', width: 150}
                    , {field: 'hproduct_name', title: '机器型号', width: 120}
                    , {field: 'hsystem_vendor', title: '设备型号', width: 120}
                    , {field: 'hcpu', title: 'cpu型号', width: 250, hide: true}
                    , {field: 'hbios_vendor', title: 'bios厂商', width: 250, hide: true}
                    , {field: 'hkernel', title: '内核版本', width: 150, hide: true}
                    , {field: 'hexceedtime', title: '到期时间', sort: true, width: 200,}
                    , {field: 'hnotes', title: '备注信息', width: 300, hide: true, edit: 'text'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150,}
                ]]
                , page: true
                , limits: [20, 40, 60, 80, 100, 200, 1000]
                , id: 'tabReload'
            });
            //头工具栏事件
            table.on('toolbar(assets)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var iplist = ''
                var idlist = ''
                var data = checkStatus.data;
                for (var item in data) {
                    iplist += data[item].hip + ",";
                    idlist += data[item].id + ",";
                }
                if (data.length != 0) {
                    switch (obj.event) {
                        case 'shell' :
                        case 'script' :
                        case 'playbook':
                            var url = '{% url 'ops:action' %}?ip=' + iplist + "&type=" + obj.event
                            layer.open({
                                type: 2,
                                title: "执行" + obj.event,
                                shadeClose: true,
                                maxmin: true,
                                area: ['50%', '50%'],
                                content: [url, 'on'],
                                btn: ['关闭'],
                            })
                            break;
                        case 'delete' :
                            var url = "{% url "ops:api-hosts" %}?id=" + idlist
                            layer.confirm('确认删除', {
                                btn: ['确认', '取消']
                            }, function () {
                                // 按钮1的事件
                                ajax_del(url)
                                // window.location.reload();
                                active.reload()
                                return false; // 这段很关键

                            }, function (index) {
                                // 按钮2的事件
                                layer.close(index);
                            });
                            break;
                        case 'update':
                            //layer.alert(JSON.stringify(iplist));
                            layer.confirm('更新操作', {
                                btn: ['确认', '取消']
                            }, function () {
                                ajax_put("{% url "ops:action"%}?ip=" + iplist)
                                return false; // 这段很关键
                            }, function (index) {
                                // 按钮2的事件
                                layer.close(index);
                            });
                            break;
                        case
                        'getCheckLength'
                        :
                            var data = checkStatus.data;
                            layer.msg('选中了：' + data.length + ' 个');
                            break;
                        case 'isAll':
                            layer.msg(checkStatus.isAll ? '全选' : '未全选');
                            break;
                    }
                } else if (obj.event.indexOf("LAYTABLE") >= 0) {
                    //自定义头工具栏右侧图标 - 提示
                    if (obj.event == 'LAYTABLE_TIPS') {
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    }
                } else {
                    layer.msg('未选中任何主机');
                }
            })
            ;
            //监听行双击击事件（双击事件为：row ）
            table.on('rowDouble(assets)', function (obj) {

                if (obj.tr.find('.layui-form-checkbox').hasClass('layui-form-checked'))
                    obj.tr.find('.layui-form-checkbox').removeClass('layui-form-checked');

                else
                    obj.tr.find('.layui-form-checkbox').addClass('layui-form-checked');

                var checkCell = obj.tr.find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
                console.log(checkCell.length)
                if (checkCell.length > 0) {
                    checkCell.click();
                }
            });

            //监听行工具事件
            table.on('tool(assets)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'del' :
                        var url = "{% url "ops:api-hosts" %}?id=" + data.id
                        layer.confirm('确认删除', {
                            btn: ['确认', '取消']
                        }, function () {
                            // 按钮1的事件
                            ajax_del(url)
                            obj.del()
                            return false; // 这段很关键

                        }, function (index) {
                            // 按钮2的事件
                            layer.close(index);
                        });
                        break;
                    case 'update':

                        console.log(JSON.stringify(data))
                        // console.log(data.serialize())
                        ajax_put("{% url "ops:api-hosts" %}?id=" + data.id + "&data=" + JSON.stringify(data))
                        return false; // 这段很关键

                }
            })
            var active = {
                reload: function () {
                    var search_ip = $('#search_ip');
                    var search_sn = $('#search_sn');
                    var search_oobip = $('#search_oobip');
                    var search_type = $('#search_type');
                    var search_app = $('#search_app');
                    var search_idc = $('#search_idc');
                    var search_vlan = $('#search_vlan');
                    var is_like = $('#is_like');
                    table.reload('tabReload', {
                        page: {
                            curr: 1
                        }
                        , where: {
                            hip: search_ip.val(),
                            hsn: search_sn.val(),
                            hoobip: search_oobip.val(),
                            htype: search_type.val(),
                            happ: search_app.val(),
                            hidc: search_idc.val(),
                            hvlan: search_vlan.val(),
                            is_like: is_like.is(":checked"),

                        }
                    });
                    return false;
                }
            };
            $('.demoTable .layui-btn'
            ).on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        })

    </script>
{% endblock js-content %}

