{% extends 'base.html' %}
{% block main %}
{% if types == "str" %}
   <pre> {{ result }} </pre>
{% else %}
    {% if result|length >= 1 %}

        {% for res in result %}
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">{{ res.cmdstr }}</h2>
                    <div class="layui-colla-content layui-show">

                        <pre style="color: midnightblue;font-size: 16px;">{{ res.resstr }}</pre>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endif %}

{% endblock main %}