{% extends 'base.html' %}
{% block content %}
    <div>
        <form method="post" class="layui-form" action="">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select name="vlan" lay-verify="required" lay-search="">
                        <option value="">选择或搜索网段</option>
                        {% for v in vlaninfo %}
                            <option value="{{ v.vnet }}">{{ v.vnet }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="layui-input-inline">

                    <select name="app" lay-search="">
                        <option value="">归属应用</option>
                        {% for a in appinfo %}
                            <option value="{{ a.id }}">{{ a.aname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="layui-input-inline">

                    <select name="idc" lay-search="">
                        <option value="">归属机房</option>
                        {% for i in idcinfo %}
                            <option value="{{ i.id }}">{{ i.iname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="layui-btn " lay-submit lay-filter="scan-scan">开始扫描</a>
            </div>
        </form>
    </div>
{% endblock content %}
{% block js-content %}

    <script>
        layui.use('form', function () {
            form.on('submit(scan-scan)', function (data) {
                var url = '{% url "ops:scan" %}'
                ajax_post(url, data.field)
                return false; // 这段很关键
            });
        })
    </script>
{% endblock js-content %}

