{% extends 'base.html' %}
{% block content %}
    <div>
        <form method="post" class="layui-form" action="">
            <div class="layui-inline">

                <div class="layui-input-inline">
                    <select name="vlan" lay-verify="required" lay-search="">
                        <option value="">选择或搜索网段</option>
                        {% for key in vlaninfo %}
                            <option value="{{ key.vlan_net }}">{{ key.vlan_net }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="layui-input-inline">

                    <select name="app" lay-verify="required" lay-search="">
                        <option value="">选择或搜索应用</option>
                        {% for k in groupinfo %}
                            <option value="{{ k.name }}">{{ k.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="layui-btn " lay-submit lay-filter="scan-scan">开始扫描</a>
            </div>
        </form>
    </div>
{% endblock content %}
{% block js-content %}

    <script>
        layui.use('form', function () {
            var form = layui.form, layer = layui.layer, $ = layui.$;
            form.on('submit(scan-scan)', function (data) {
                var url = '/scan/'
                $.ajax({
                    type: 'POST',
                    url: url,//发送请求
                    async: false,
                    data: data.field,//{param1: vlan, param2: app},
                    success: function (resdata) {
                        console.log(resdata.code)
                        if (resdata.code == 0) {
                            layer.msg(resdata.msg, {icon: 1});
                            console.log(resdata.log);
                        } else {
                            layer.msg(resdata.msg, {icon: 2});
                            console.log(resdata.log);
                        }
                    }
                });
                return false; // 这段很关键
            });
        })
    </script>
{% endblock js-content %}

