
{% extends 'base.html' %}

{%block content %}
<form class="layui-form" action="/login/" method="post">
    <div class="container">
        <div class="layui-form-mid layui-word-aux">
            <h1>Djops 登录</h1>
        </div>
        <div class="layui-form-item">

            <label class="layui-form-label">用户：</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">登陆</button>
            </div>

        </div>

    </div>
</form>
{%endblock content %}
