{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>DjOps</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all" type="text/css">
    {% block css-content %}

    {% endblock %}
</head>
<body>
{% block main %}
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo layui-hide-xs layui-bg-black">DjOps v1</div>
            <!-- 头部区域（可配合layui 已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <!-- 移动端显示 -->
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                    <i class="layui-icon layui-icon-spread-left"></i>
                </li>
                <li class="layui-nav-item layui-hide-xs"><a href="/">首页</a></li>
                <li class="layui-nav-item layui-hide-xs"><a href="/assets/">查看资源</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                    <a href="javascript:;">
                        <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                             class="layui-nav-img">
                        {{ user }}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">后台管理</a></dd>
                        <dd><a href="/logout/">退出登录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-more-vertical"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">资源管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/assets/">查看资源</a></dd>
                            <dd><a href="/scan/">扫描网段</a></dd>
                            <dd><a href="/runresult/">执行结果查询</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">menu group 2</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">list 1</a></dd>
                            <dd><a href="javascript:;">list 2</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
                    <li class="layui-nav-item"><a href="">the links</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="margin: 15px;margin-bottom: 50px;">{% block content %}{% endblock content %}</div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            底部固定区域 www.maerxin.cn
        </div>
    </div>
{% endblock %}
<script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>

<script>
    var form = layui.form, layer = layui.layer, table = layui.table, element = layui.element, util = layui.util,
        $ = layui.$;
    var headers = {'X-CSRFTOKEN': '{{ csrf_token }}'}
    var ajax_get = function (url) {
        $.ajax({
            type: 'get',
            url: url,
            async: false,
            success: function (resdata) {
                if (resdata.code == 0) {
                    layer.msg(resdata.msg, {icon: 1});
                    console.log(resdata.log);
                } else {
                    layer.msg(resdata.msg, {icon: 2});
                    console.log(resdata.log);
                }
            }
        });
    }
    var ajax_put = function (url) {
        $.ajax({
            type: 'put',
            url: url,
            async: false,
            headers: headers,
            success: function (resdata) {
                if (resdata.code == 0) {
                    layer.msg(resdata.msg, {icon: 1});
                    console.log(resdata.log);
                } else {
                    layer.msg(resdata.msg, {icon: 2});
                    console.log(resdata.log);
                }
            }
        });
    }
    var ajax_del = function (url) {
        $.ajax({
            type: 'delete',
            url: url,
            async: false,
            headers: headers,
            success: function (resdata) {
                if (resdata.code == 0) {
                    layer.msg(resdata.msg, {icon: 1});
                    console.log(resdata.log);
                } else {
                    layer.msg(resdata.msg, {icon: 2});
                    console.log(resdata.log);
                }
            }
        });
    }
    var ajax_post = function (url, data) {
        $.ajax({
            type: 'POST',
            url: url,//发送请求
            async: false,
            headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
            data: data,//{param1: vlan, param2: app},
            success: function (resdata) {
                console.log(resdata.code)
                if (resdata.code == 0) {
                    layer.msg(resdata.msg, {icon: 1});
                    console.log(resdata.log);
                } else {
                    layer.msg(resdata.msg, {icon: 2});
                    console.log(resdata.log);
                }
            }
        });


    }
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        $('.layui-nav-child dd  a').each(function () {
            if ($(this)[0].href == String(window.location)) {
                $(this).parent().css({"background": "#009688", "color": "#ffffff"})
                $(this).css({"color": "#ffffff"})
            }
        });
        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function (othis) {
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
        });
    })
</script>
{% block js-content %}
{% endblock %}
</body>
</html>