<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content active" style="">
            <ul class="d-block">
                <div class="logo"><a href="/">
                    <!-- <img src="assets/images/logo.png" alt="" /> --><span>DjOps</span></a></div>
                <li class="label">欢迎</li>
                <li><a href="/"><i class="ti-home"></i> 主页 </a>
                    <!--
                                                <ul class="d-block">
                                                    <li class="active"><a href="index.html" class="active">Dashboard 1</a></li>
                                                    <li><a href="index1.html">Dashboard 2</a></li>
                                                </ul> -->
                </li>

                <li class="label">资源</li>
                <li><a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i> 资源管理 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul >
                        <li><a href="/allinfo/">查看资源</a></li>
                        <li><a href="/groupinfo/">分组信息</a></li>
                        <li><a href="/scan/">扫描网段</a></li>
                        <li><a href="/DjOps/localfile/shell/">执行命令</a></li>
                        <li><a href="/script/">执行脚本</a></li>
                    </ul>
                </li>
                <li><a href="/logout/"><i class="ti-close"></i>退出登陆</a></li>
            </ul>
        </div>
    </div>
</div>
